{% extends "base.html" %}

{% block titulo %}Penalty - Gerenciador de tarefas domiciliares{% endblock titulo %}

{% block conteudo %}
<div class="container">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Faça login no formulário abaixo.
		   <hr>
		    <form id="sign">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Username:</label>
				    <input type="text" class="form-control" id="aunome" placeholder="Insira seu username">
				    <span class="help-block desaparece">Insira um nome de usuário válido.</span>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Senha:</label>
				    <input type="password" class="form-control" id="ausenha" placeholder="Insira sua senha">
				    <span class="help-block desaparece">Insira uma senha válida.</span>
				  </div>
				  <button type="submit" id="btnlogin" class="btn btn-primary btn-block">Entrar</button>
				</form>
				<br>
				Não tem cadastro? Faça <a href="#" data-toggle="modal" data-target="#modalRegistro">aqui</a>!
		  </div>
		</div>
  </div>
</div>

<div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Faça seu cadastro na plataforma abaixo.
			  <hr>
		    <form id="register">
		    	<div class="form-group">Nome:</label>
				    <input type="text" class="form-control" id="nomer" placeholder="Insira seu nome" required>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Username:</label>
				    <input type="text" class="form-control" id="userr" placeholder="Insira seu username" required>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email:</label>
				    <input type="text" class="form-control" id="emailr" placeholder="Insira seu email">
				  </div>
				  <hr>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Senha:</label>
				    <input type="password" class="form-control" id="passwordr" placeholder="Insira sua senha">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Repita a senha:</label>
				    <input type="password" class="form-control" id="repasswordr" placeholder="Insira sua novamente sua senha">
				  </div>
				  <button type="submit" id="btnregister" class="btn btn-primary btn-block">Registrar-se!</button>
				</form>
      </div>
    </div>
  </div>
</div>
	
{% endblock conteudo %}